<template>
    <v-dialog
        v-model="visible"
        fullscreen
        transition="dialog-bottom-transition"
        :overlay="false"
        scrollable>

        <v-card title>
            <v-toolbar card dark color="primary">
                <v-btn icon @click.native="hide" dark>
                    <v-icon>close</v-icon>
                </v-btn>

                <v-toolbar-title>Suggestions</v-toolbar-title>
            </v-toolbar>

            <v-container grid-list-md fill_height>
                <v-layout row wrap>
                    <v-flex :class="{
                        'mx-auto': !selectedSuggestingUser
                    }" xs6 pa-5 text-xs-center>
                        <v-card>
                            <v-text-field
                                    autofocus
                                    box
                                    clearable
                                    placeholder="Search ..."
                                    append-icon="search"
                                    label="Search user"
                                    @input="filterUsers"
                            ></v-text-field>


                            <v-list>
                                <v-list-tile avatar v-if="!filtered || !filtered.length">
                                    <v-list-tile-avatar>

                                    </v-list-tile-avatar>
                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            Nothing to show now !!!
                                        </v-list-tile-title>
                                        <!--<v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>-->
                                    </v-list-tile-content>
                                </v-list-tile>
                                <template v-for="(user, index) in filtered">
                                    <v-list-tile avatar :key="user.uid" @click="selectedSuggestingUser = user; viewUserDetails(user)" _v-if="getFriends[user.uid] && !getFriends[user.authKey]">
                                        <v-list-tile-avatar>
                                            <img :src="user.profilePicture">
                                        </v-list-tile-avatar>
                                        <v-list-tile-content>
                                            <v-list-tile-title v-html="user.name"></v-list-tile-title>
                                            <!--<v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>-->
                                        </v-list-tile-content>
                                    </v-list-tile>
                                </template>
                            </v-list>
                        </v-card>
                    </v-flex>
                    <v-flex v-if="selectedSuggestingUser" xs6 pa-5 text-xs-center>
                        <!--<pre>{{ selectedSuggestingUser }}</pre>-->
                        <v-card>
                            <v-icon @click="selectedSuggestingUser = null" color="indigo" class="close-details-modal">close</v-icon>
                            <v-avatar
                                    :tile="true"
                                    :size="100"
                                    class="grey lighten-4"
                            >
                                <img :src="selectedSuggestingUser.profilePicture" alt="avatar">
                            </v-avatar>

                            <v-list text-xs-left ma-3 pa-4>
                                <v-list-tile @click="">
                                    <v-list-tile-action>
                                        <v-icon color="indigo">account_circle</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>{{ selectedSuggestingUser.name }}</v-list-tile-title>
                                        <!--<v-list-tile-sub-title>Mobile</v-list-tile-sub-title>-->
                                    </v-list-tile-content>
                                    <v-list-tile-action>
                                        <!--<v-icon>chat</v-icon>-->
                                    </v-list-tile-action>
                                </v-list-tile>

                                <v-list-tile @click="">
                                    <v-list-tile-action>
                                        <v-icon color="indigo">email</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>{{ selectedSuggestingUser.emailVisibleBy === '*' ? selectedSuggestingUser.email : '-' }}</v-list-tile-title>
                                        <!--<v-list-tile-sub-title>Mobile</v-list-tile-sub-title>-->
                                    </v-list-tile-content>
                                    <v-list-tile-action>
                                        <!--<v-icon>chat</v-icon>-->
                                    </v-list-tile-action>
                                </v-list-tile>

                                <v-list-tile @click="">
                                    <v-list-tile-action title="Last online">
                                        <v-icon color="indigo">watch_later</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                        <v-list-tile-title>l</v-list-tile-title>
                                        <!--<v-list-tile-sub-title>Mobile</v-list-tile-sub-title>-->
                                    </v-list-tile-content>
                                    <v-list-tile-action>
                                        <!--<v-icon>chat</v-icon>-->
                                    </v-list-tile-action>
                                </v-list-tile>
                            </v-list>
                            <v-btn
                                color="secondary"
                                :loading="sendingFriendRequest"
                                @click.native="sendFriendRequest"
                                :disabled="sendingFriendRequest"
                                v-if="!getFriends[selectedSuggestingUser.uid] && !getFriends[selectedSuggestingUser.authKey]"
                            >
                                Send request
                            </v-btn>
                            <v-btn
                                color="error"
                                :loading="cancelingFriendRequest"
                                @click.native="cancelFriendRequest"
                                :disabled="cancelingFriendRequest"
                                v-if="getFriends[selectedSuggestingUser.authKey]"
                            >
                                Cancel request
                            </v-btn>
                            <v-btn
                                color="error"
                                :loading="sendingFriendRequest"
                                @click.native="unFriendUser"
                                :disabled="sendingFriendRequest"
                                v-if="getFriends[selectedSuggestingUser.uid]"
                            >
                                Revoque
                            </v-btn>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
  /* eslint-disable no-trailing-spaces,new-parens */

  // import firebase from 'firebase'
  import Vuex from 'vuex'
  export default {
    props: {
      show: {
        default: false
      }
    },
    name: 'friend-suggestions',
    data: function () {
      return {
        visible: this.show,
        users: [],
        filtered: [],
        selectedSuggestingUser: null,
        sendingFriendRequest: false,
        cancelingFriendRequest: false
      }
    },
    watch: {
      show: function (n, o) {
        this.visible = n
      }
    },
    computed: {
      ...Vuex.mapGetters([
        'getUser', 'getFriends'
      ])
    },
    methods: {
      ...Vuex.mapActions([
        'addNewFriend'
      ]),
      hide: function () {
        this.visible = false
        this.selectedSuggestingUser = null
        this.$emit('closed')
      },
      filterUsers: function (data) {
        if (!data) {
          this.filtered = this.users
          return
        }
        this.filtered = this.users.filter(u => u.name.toLowerCase().indexOf(data.toLowerCase()) !== -1)
      },
      viewUserDetails: function (user) {
        window.firebase.database().ref().child('user').once('value', (snap) => {
          console.log(snap.val())
        })
      },
      sendFriendRequest: function () {
        if (!this.selectedSuggestingUser) {
          return false
        }
        this.sendingFriendRequest = true
        window.firebase.database().ref('users/' + this.getUser.uid).once('value', (res) => {
          if (res.val()) {
            const params = {
              requestedAt: (new Date).getTime(),
              requestedBy: res.val().uid,
              status: 0, // 0 -> pending, 1 -> accepted, -1 -> rejected
              requestedTo: this.selectedSuggestingUser.uid
            }
            // console.log(params)
            window.firebase.database().ref('users/' + params.requestedBy).child('friends').child(params.requestedTo).set(params)
            window.firebase.database().ref('users/' + this.selectedSuggestingUser.uid).child('friends').child(params.requestedBy).set(params)
            // this.addNewFriend(params)
            this.sendingFriendRequest = false
          }
        }, err => {
          console.log(err)
        })
      },
      cancelFriendRequest: function () {
        if (!this.selectedSuggestingUser) {
          return false
        }
        this.cancelingFriendRequest = true
        window.firebase.database().ref('users/' + this.getUser.uid + '/friends/').orderByChild('requestedTo').equalTo(this.selectedSuggestingUser.uid).once('value', snap => {
          if (snap.ref) {
            let key = Object.keys(snap.val())[0]
            snap.ref.child(key).remove(() => {
              window.firebase.database().ref('users/' + this.selectedSuggestingUser.uid + '/friends/').orderByChild('requestedBy').equalTo(this.getUser.uid).once('value', res => {
                if (res.ref) {
                  key = Object.keys(res.val())[0]
                  res.ref.child(key).remove()
                }
              })
            })
          }
        })
        this.cancelingFriendRequest = false
      },
      unFriendUser: function () {
      }
    },
    mounted: function () {
      window.firebase.database().ref('users').orderByChild('publicAccount').equalTo(true).once('value', (res) => {
        res.forEach((r) => {
          if (r.val().uid !== this.getUser.uid) {
            this.users.push(r.val())
          }
          this.filtered = this.users.filter(u => !this.getFriends[u.uid])
        })
      })
    }
  }
</script>

<style scoped>
    .close-details-modal {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
</style>