<template>
    <v-dialog
        v-model="visible"
        fullscreen
        transition="dialog-bottom-transition"
        :overlay="false"
        scrollable
    >
    <v-card title>
        <v-toolbar card dark color="primary">
            <v-btn icon @click.native="hide" dark>
                <v-icon>close</v-icon>
            </v-btn>

            <v-toolbar-title>Settings</v-toolbar-title>
            <v-spacer></v-spacer>

            <v-toolbar-items>
                <v-btn dark flat @click.native="updateProfile">Save</v-btn>
            </v-toolbar-items>
        </v-toolbar>

        <v-container grid-list-md fill_height >
            <v-layout row wrap>
                <v-flex xs7 mx-auto pa-2 text-xs-center>
                    <v-avatar
                        mx-auto
                        :tile="false"
                        :size="80"
                        absolute
                        class="grey lighten-4 avatar"
                    >
                        <img :src="user.photoURL" alt="avatar">
                    </v-avatar>
                    <v-card elevation-20 style="min-height: 450px">
                        <v-tabs icons-and-text centered dark color="cyan" grow>
                            <v-tabs-slider color="yellow"></v-tabs-slider>
                            <v-tab href="#profile-tab">
                                Profile
                                <v-icon>account_circle</v-icon>
                            </v-tab>
                            <v-tab href="#settings-tab">
                                System
                                <v-icon>settings</v-icon>
                            </v-tab>

                            <v-tab-item id="profile-tab">
                                <v-card flat>
                                    <v-card-text>
                                        <!--<pre>
                                            {{ getUser }}
                                        </pre>-->
                                        <v-form>
                                            <v-text-field
                                                label="Name"
                                                v-model="user.name"
                                                required
                                            ></v-text-field>
                                            <v-text-field
                                                label="E-mail"
                                                v-model="user.email"
                                                type="email"
                                                required
                                                readonly
                                            ></v-text-field>
                                            <v-checkbox label="Public account" v-model="user.publicAccount"></v-checkbox>
                                        </v-form>
                                    </v-card-text>
                                </v-card>
                            </v-tab-item>

                            <v-tab-item id="settings-tab">
                                <v-card flat>
                                    <v-card-text>
                                        SETTINGS
                                    </v-card-text>
                                </v-card>
                            </v-tab-item>
                        </v-tabs>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
    </v-dialog>
</template>

<script>
  import Vuex from 'vuex'
  // import firebase from 'firebase'
  export default {
    props: {
      show: {
        default: false
      }
    },
    name: 'settings',
    data: function () {
      return {
        visible: this.show,
        user: {
          name: '',
          email: '',
          photoURL: '',
          publicAccount: true
        }
      }
    },
    computed: {
      ...Vuex.mapGetters([
        'getUser'
      ])
    },
    watch: {
      show: function (n, o) {
        this.visible = n
      }
    },
    methods: {
      hide: function () {
        this.visible = false
        this.$emit('closed')
      },
      updateProfile: function () {
        window.firebase.auth().currentUser.updateProfile({
          displayName: this.user.name
        }).then((res) => {
          this.visible = false
          this.$emit('closed')
        }, (err) => {
          console.log(err)
        })
        // this.visible = false
        // this.$emit('closed')
      }
    },
    created: function () {
      setTimeout(() => {
        if (this.getUser) {
          this.user = {
            name: this.getUser.displayName || '',
            email: this.getUser.email || '',
            photoURL: this.getUser.photoURL || '',
            publicAccount: this.getUser.publicAccount || true
          }
        }
      })
    }
  }
</script>

<style scoped>
    .avatar {
        top: 25px;
        z-index: 3;
    }
</style>