<template>
    <v-container>
        <v-layout row wrap>
            <v-flex xs8 pa-5 fluid fill-height mx-auto text-xs-center>
                <v-tabs icons-and-text centered dark color="cyan" grow>
                    <v-tabs-slider color="yellow"></v-tabs-slider>
                    <v-tab href="#sign-in-tab">
                        Login
                        <v-icon>lock_open</v-icon>
                    </v-tab>
                    <v-tab href="#sign-up-tab">
                        Register
                        <v-icon>perm_identity</v-icon>
                    </v-tab>

                    <v-tab-item id="sign-in-tab">
                        <v-card raised >
                            <v-card-text>
                                <form>
                                    <v-text-field
                                            v-model="login.email"
                                            label="E-mail"
                                            required
                                            autofocus
                                    ></v-text-field>
                                    <v-text-field
                                            v-model="login.password"
                                            type="password"
                                            label="Password"
                                            required
                                    ></v-text-field>

                                    <v-btn @click="logMeIn">Login</v-btn>
                                    <v-btn type="reset">clear</v-btn>
                                </form>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>

                    <v-tab-item id="sign-up-tab">
                        <v-card raised>
                            <v-card-text>
                                <v-form
                                    @submit="registerMe"
                                    v-model="register.valid"
                                    ref="registerForm"
                                    lazy-validation
                                >
                                    <v-text-field
                                        label="Name"
                                        required
                                        v-model="register.name"
                                        placeholder="Name"
                                    >
                                    </v-text-field>
                                    <v-text-field
                                        label="E-mail"
                                        type="email"
                                        required
                                        v-model="register.email"
                                        placeholder="E-mail"
                                        :rules="register.rules.emailRules"
                                        :error="register.errors.email || false"
                                    >
                                    </v-text-field>

                                    <v-layout>
                                        <v-flex xs12 sm6>
                                            <v-text-field
                                                    label="Password"
                                                    type="password"
                                                    required
                                                    v-model="register.password"
                                                    placeholder="Password"
                                                    :rules="register.rules.passwordRules"
                                            >
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <v-text-field
                                                    label="Password confirmation"
                                                    type="password"
                                                    required
                                                    v-model="register.passwordConfirm"
                                                    placeholder="Password confirm"
                                                    :rules="register.rules.passwordConfirmRules"
                                            >
                                            </v-text-field>
                                        </v-flex>
                                    </v-layout>

                                    <v-checkbox
                                        label="Auto suggest me to all users?"
                                        v-model="register.publicAccount"
                                    ></v-checkbox>

                                    <v-radio-group
                                        v-model="register.emailVisibleBy"
                                        label="Show my email address to ?"
                                        row
                                    >
                                        <v-radio
                                                v-for="n in [{ v: '*', l: 'Everybody' }, { v: 'friends', l: 'Friends' }]"
                                                :key="n.v"
                                                :label="` ${n.l}`"
                                                :value="n.v"
                                        ></v-radio>
                                    </v-radio-group>
                                    <v-btn
                                        color="cyan"
                                        :loading="register.busy"
                                        @click.native="register.busy = true"
                                        :disabled="register.busy"
                                        type="submit"
                                    >
                                        Register
                                    </v-btn>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                </v-tabs>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
  // import firebase from 'firebase'
  import Vuex from 'vuex'
  export default {
    name: 'auth',
    data: function () {
      return {
        login: {
          email: 'a@b.com',
          password: '654321'
        },
        register: {
          name: 'h',
          email: 'a@b.com',
          password: '654321',
          passwordConfirm: '654321',
          publicAccount: true,
          emailVisibleBy: '*',
          profilePicture: '',
          busy: false,
          valid: false,
          rules: {
            passwordConfirmRules: [
              (v) => {
                return this.register.password !== v ? 'Passwords do not match' : true
              }
            ],
            passwordRules: [
              v => !!v || 'Password is required',
              v => (v && v.length >= 5) || 'Password must be greter than 5 characters'
            ],
            emailRules: [
              v => !!v || 'Email is required',
              v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
            ]
          },
          errors: { email: true }
        }
      }
    },
    computed: {
      ...Vuex.mapGetters(['getDefaultProfileImage'])
    },
    methods: {
      logMeIn: function () {
        window.firebase.auth().signInWithEmailAndPassword(this.login.email, this.login.password).then((res) => {
          // eslint-disable-next-line new-parens
          window.firebase.database().ref('status').child(res.uid).update({status: 'online', date: (new Date).getTime()}, res => {})
          this.$router.push('/')
        }, (err) => {
          console.log('ERROR', err)
        })
      },
      registerMe: function () {
        this.register.busy = true
        if (!this.$refs.registerForm.validate()) {
          this.register.busy = false
          return false
        }
        let params = JSON.parse(JSON.stringify(this.register))
        delete params.valid
        delete params.rules
        delete params.busy
        delete params.passwordConfirm
        delete params.errors
        window.firebase.auth().createUserAndRetrieveDataWithEmailAndPassword(params.email, params.password).then((res) => {
          delete params.password
          params.authKey = res.user.uid
          params.profilePicture = this.getDefaultProfileImage
          window.firebase.database().ref('users').push(params).then(res => {
            window.firebase.database().ref('users').child(res.key).update({'uid': res.key}).then(res => {
              this.register.busy = false
              this.$router.push('/')
            }, err => {
              this.register.rules.emailRules.push([() => err.message][0])
              this.register.busy = false
              console.log('ERROR SETTING UID', err)
            })
          }, err => {
            this.register.rules.emailRules.push([() => err.message][0])
            this.register.busy = false
            console.log('ERROR ', err)
          })
        }, (err) => {
          this.register.rules.emailRules.push([() => err.message][0])
          this.register.busy = false
          console.log('ERROR', err)
        })
      }
    },
    mounted: function () {
    }
  }
</script>

<style scoped>

</style>