<template>
    <v-flex xs12 pa-0 ma-0>
        <v-container
            fluid
            grid-list-md
            tag="section"
            id="grid"
            class="pa-3 messages-container"
        >
            <v-layout row wrap>
                <!--<v-flex tag="h1" class="headline">Lorem Ipsum</v-flex>-->
                <v-layout column pa-5>
                    <v-flex :class=" m.sender === myId ? 'right' : 'left'" v-for="m in messages" :key="m.mid">
                        <div class="conversation-time sm"><span>Friday, 23/03/2018</span></div>
                        <v-card flat>
                            <v-card-text>
                                {{ m.content }}
                            </v-card-text>
                            <span class="time list__tile__action-text snack--left picker-transition-leave">{{ m.date | moment('h:mm a') }}</span>
                        </v-card>
                    </v-flex>
                </v-layout>
                <v-flex d-flex xs12 order-xs5>

                </v-flex>
            </v-layout>
        </v-container>

        <div>
            <v-card class="pa-2 ma-0 elevation-14">
                <v-form @submit.prevent="sendMessage">
                    <v-text-field
                            label="Message"
                            v-model="message"
                            required
                            append-icon="send"
                            :append-icon-cb="sendMessage"
                    ></v-text-field>
                </v-form>
            </v-card>

        </div>

    </v-flex>
</template>

<style>
    .column .flex {
        /*max-width: 50%;*/
    }
    .conversation-time {
        position: relative;
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
    }
    .conversation-time:before {
        content: '';
        position: absolute;
        background-color: #e8ebf4;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        z-index: 0;
    }
    span.time {
        bottom: 0;
        padding: 2px;
        margin: 0;
        right: 0;
        font-size: 9px;
    }
    .column .flex.left {
        align-self: flex-start;
        /*background-color: #C5CAE9;*/
        margin-bottom: 5px;
    }
    .column .flex.left .card__text {
        background-color: #fff;
        max-width: 50%;
        min-width: 20%;
        float: left;
    }

    .column .flex.right {
        align-self: flex-end;

    }
    .column .flex.right .card__text {
        background-color: #E3F2FD;
        max-width: 50%;
        min-width: 20%;
        float: right;
    }

    .messages-container {
        height: calc(100vh - 170px);
        overflow-y: auto;
        background-image: url("https://img00.deviantart.net/31cf/i/2015/028/8/6/super_hero_whatsapp_background_by_x_ama-d8fr7iz.jpg");
        background-color: #EEEEEE;
        background-size: cover;
    }
</style>

<script>
  /* eslint-disable new-parens */
  // import firebase from 'firebase'
  import Vue from 'vue'
  import Vuex from 'vuex'
  export default {
    name: 'chat-container',
    data: function () {
      return {
        lorem: `Lorem ipsum dolor sit amet, mel at clita quando. Te sit oratio vituperatoribus, nam ad ipsum posidonium mediocritatem`,
        message: '',
        messages: {},
        myId: null
      }
    },
    computed: {
      ...Vuex.mapGetters([
        'getUser'
      ])
    },
    methods: {
      ...Vuex.mapActions([
        'updateLastMessage'
      ]),
      sendMessage: function (e) {
        if (!this.message) {
          return false
        }
        const params = {
          content: this.message,
          date: (new Date).getTime(),
          sender: this.getUser.uid,
          receiver: this.$route.params.id,
          status: 0
        }
        // TODO think well on lastMessage
        window.firebase.database().ref('messages').push(params).then(snap => {
          window.firebase.database().ref('messages/' + snap.key).update({ mid: snap.key })
          window.firebase.database().ref('users/' + params.sender + '/messages/' + params.receiver).child(snap.key).set(true)
          window.firebase.database().ref('users/' + params.receiver + '/messages/' + params.sender).child(snap.key).set(true)
          window.firebase.database().ref('users/' + params.sender + '/lastMessage').child(params.receiver).set({ content: params.content, date: params.date, sender: params.sender, mid: snap.key })
          window.firebase.database().ref('users/' + params.receiver + '/lastMessage').child(params.sender).set({ content: params.content, date: params.date, sender: params.sender, mid: snap.key })
          this.updateLastMessage({message: this.message, receiver: params.receiver, sender: params.sender, date: params.date})
          this.message = ''
        })
      }
    },
    mounted: function () {
      this.myId = this.$route.params.me
      window.firebase.database().ref('users/' + this.myId + '/messages/' + this.$route.params.id).on('value', (res) => {
        if (res.val()) {
          // this.messages = []
          const messages = res.val()
          for (let m in messages) {
            window.firebase.database().ref('messages/' + m).update({ status: 'received' })
            window.firebase.database().ref('messages/' + m).once('value', msg => {
              Vue.set(this.messages, msg.val().mid, msg.val())
            })
          }
        }
      }, (err) => {
        console.log(err)
      })
    },
    components: {
    }
  }
</script>