<template>
    <v-app ligth>

        <v-navigation-drawer
                fixed
                :mini-variant="miniVariant"
                :clipped="clipped"
                v-model="drawer"
                app
        >
            <!--<v-list>
                <v-list-tile
                        router
                        :to="item.to"
                        :key="i"
                        v-for="(item, i) in items"
                        exact
                >
                    <v-list-tile-action>
                        <v-icon v-html="item.icon"></v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title v-text="item.title"></v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>-->
            <v-flex center class="text-xs-center centered center-block">
                <v-toolbar ma-0 pa-0>
                    <v-spacer></v-spacer>
                    <v-btn icon title="Add Friends" @click="showContactSuggestions = true">
                        <v-icon>add</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-form class="pa-1 mt-5">
                    <v-text-field
                            label="Search"
                            type="search"
                            append-icon="search"
                    ></v-text-field>
                </v-form>
            </v-flex>

            <v-list two-line class="users-list">
                <template v-for="(item, index) in getMyContacts">
                    <v-subheader v-if="item.header" :key="item.header">{{ item.header }}</v-subheader>
                    <v-divider v-else-if="item.divider" :inset="item.inset" :key="index"></v-divider>
                    <v-list-tile :class="{
                      online: geOnlineStatuses[item.authKey] && geOnlineStatuses[item.authKey].status === 'online',
                      away: geOnlineStatuses[item.authKey] && geOnlineStatuses[item.authKey].status === 'away',
                      offline: geOnlineStatuses[item.authKey] && geOnlineStatuses[item.authKey].status === 'offline',
                      status: true
                    }" avatar ripple v-else :key="item.title + '-' + index" @click="" router :to="'/chat/' + getUser.uid + '/' + item.uid" extract>
                        <v-list-tile-avatar>
                            <img :src="item.profilePicture">
                        </v-list-tile-avatar>

                        <v-list-tile-content>
                            <v-list-tile-title v-html="item.name"></v-list-tile-title>
                            <v-list-tile-sub-title v-if="item.lastMessage && item.lastMessage[getUser.uid]">
                                <v-icon small>{{ item.sender != getUser.uid ? 'subdirectory_arrow_left' : 'subdirectory_arrow_right' }}</v-icon> {{ item.lastMessage[getUser.uid].content }}
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-list-tile-action-text v-if="item.lastMessage && item.lastMessage[getUser.uid]">
                                <timeago :since="item.lastMessage[getUser.uid].date" :auto-update="60"></timeago>
                            </v-list-tile-action-text>
                            <!--<v-icon
                                    color="grey lighten-1"
                                    v-if="selected.indexOf(index) < 0"
                            >star_border</v-icon>
                            <v-icon
                                    color="yellow darken-2"
                                    v-else
                            >star</v-icon>-->
                        </v-list-tile-action>
                    </v-list-tile>
                </template>
            </v-list>

        </v-navigation-drawer>
        <v-toolbar fixed app :clipped-left="clipped">
            <!--<v-toolbar-side-icon @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>-->
            <v-btn
                    icon
                    @click.native.stop="miniVariant = !miniVariant"
            >
                <v-icon v-html="miniVariant ? 'menu' : 'menu'"></v-icon>
            </v-btn>
            <!--<v-btn
                    icon
                    @click.native.stop="clipped = !clipped"
            >
                <v-icon>web</v-icon>
            </v-btn>
            <v-btn
                    icon
                    @click.native.stop="fixed = !fixed"
            >
                <v-icon>remove</v-icon>
            </v-btn>
            <v-toolbar-title v-text="title"></v-toolbar-title>-->
            <v-spacer></v-spacer>
            <div class="text-xs-center">

                <v-menu bottom left offset-y min-width="300" v-if="getFriendRequests && getFriendRequests.length">
                    <v-btn icon slot="activator" class="mr-5">
                        <v-badge color="red" overlap>
                            <span slot="badge">{{ getFriendRequests.length }}</span>
                            <v-icon  size="45px">perm_identity</v-icon>
                        </v-badge>
                    </v-btn>
                    <v-list subheader>
                        <v-subheader>Recent chat</v-subheader>
                        <v-list-tile avatar v-for="item in getFriendRequests" :key="item.authKey" @click="">
                            <v-list-tile-avatar>
                                <img :src="item.profilePicture">
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                                <v-list-tile-title v-html="item.name"></v-list-tile-title>
                            </v-list-tile-content>
                            <v-list-tile-action>
                                <v-btn flat icon color="primary" @click="acceptRequest(item)">
                                    <v-icon>thumb_up</v-icon>
                                </v-btn>
                                <v-btn flat icon color="error"  @click="rejectRequest(item)">
                                    <v-icon>thumb_down</v-icon>
                                </v-btn>
                            </v-list-tile-action>
                        </v-list-tile>
                    </v-list>

                </v-menu>

                <v-menu offset-y min-width="200" :absolute="false"transition="slide-y-transition" bottom>

                    <p class="text-md-center mt-3">{{ getUser && getUser.name }}</p>
                    <v-divider></v-divider>

                    <v-avatar
                            :tile="false"
                            :size="45"
                            class="grey lighten-4"
                            slot="activator"
                    >
                        <img :src="getUser && getUser.profilePicture || getDefaultProfileImage" alt="avatar">
                    </v-avatar>
                    <v-list>
                        <v-list-tile @click="showSettingsModal = true">
                            <v-list-tile-title>Profile</v-list-tile-title>
                        </v-list-tile>

                        <v-list-tile @click="logout">
                            <v-list-tile-title>Logout</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </div>
            <!--<v-btn
                    icon
                    @click.native.stop="rightDrawer = !rightDrawer"
            >
                <v-icon>menu</v-icon>
            </v-btn>-->
        </v-toolbar>
        <v-content>
            <v-container fluid _fill-height pa-0>
                <v-slide-y-transition mode="out-in">
                    <router-view :key="$route.fullPath"></router-view>
                </v-slide-y-transition>
            </v-container>
        </v-content>

        <!--<v-navigation-drawer
                temporary
                fixed
                :right="right"
                v-model="rightDrawer"
                app
        >
            <v-list>
                <v-list-tile @click.native="right = !right">
                    <v-list-tile-action>
                        <v-icon light>compare_arrows</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>-->

        <v-footer :fixed="fixed" app>
            <v-spacer></v-spacer>
            <span>
                <a @click="open('https://vuetifyjs.com/en/getting-started/quick-start')">Docs </a>
            </span>
            <span> &copy; 2017</span>
        </v-footer>
        <settings-modal :show.sync="showSettingsModal" @closed="showSettingsModal = false"></settings-modal>
        <friend-suggestions :show.sync="showContactSuggestions" @closed="showContactSuggestions = false"></friend-suggestions>
    </v-app>
</template>
<style>
    html {
        overflow: hidden;
    }
    .navigation-drawer {
        overflow: hidden;
    }

    .users-list {
        height: calc(100% - 130px);
        overflow-y: auto;
    }

    li.status.online {
        border-left: 4px solid #00E676;
    }

    li.status.away {
        border-left: 4px solid #FB8C00;
    }

    li.status.offline {
        /*border-left: 4px solid #D50000;*/
    }

    li a.list__tile--active {
        background-color: #B3E5FC;
    }
</style>
<script>
  /* eslint-disable new-parens,no-trailing-spaces */

  // import firebase from 'firebase'
  import SettingsModal from './modals/Settings'
  import FriendSuggestions from './modals/FriendSuggestions'
  import Vuex from 'vuex'
  export default {
    name: 'app',
    data: () => ({
      clipped: false,
      drawer: true,
      fixed: false,
      showSettingsModal: false,
      showContactSuggestions: false,
      miniVariant: false,
      right: true,
      rightDrawer: false
    }),
    components: {
      SettingsModal,
      FriendSuggestions
    },
    computed: {
      ...Vuex.mapGetters(['getUser', 'getFriendRequests', 'getDefaultProfileImage', 'getMyContacts', 'geOnlineStatuses'])
    },
    methods: {
      ...Vuex.mapActions([
        'setUser', 'addNewFriend', 'addNewContact', 'removeContact', 'resetState', 'handleOnlineStatus'
      ]),
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      logout: function () {
        if (this.getUser && this.getUser.uid) {
          // eslint-disable-next-line new-parens
          window.firebase.database().ref('status').child(this.getUser.uid).update({status: 'offline', date: (new Date).getTime()}, res => {})
        }
        window.firebase.auth().signOut().then((res) => {
          this.resetState()
          // firebase.database().goOffline()
          this.$router.push('/login')
        })
      },
      rejectRequest: function (item) {
      },
      acceptRequest: function (item) {
        window.firebase.database().ref('users/' + this.getUser.uid + '/friends/' + item.requestId).update({ status: 1, acceptedOn: (new Date).getTime() }).then(res => {
          window.firebase.database().ref('users/' + item.uid + '/friends/' + item.requestedToId).update({ status: 1, acceptedOn: (new Date).getTime() })
        })
      }
    },
    mounted: function () {
      /* firebase.database().ref('users').on('value', (res) => {
        // console.log(res.val())
      }, (err) => {
        console.log(err)
      }) */
      const user = window.firebase.auth().currentUser
      if (user) {
        const dbRef = window.firebase.database()
        dbRef.ref('status/' + user.uid).onDisconnect().update({ status: 'offline', date: (new Date).getTime() }).then(res => {
          // console.log(res)
        })

        dbRef.ref('.info/connected').on('value', (snap) => {
          if (snap.val()) {
            dbRef.ref('status/' + window.firebase.auth().currentUser.uid).update({ status: 'online', date: (new Date).getTime() }).then(res => {})
          } else {
            dbRef.ref('status/' + window.firebase.auth().currentUser.uid).update({ status: 'offline', date: (new Date).getTime() }).then(res => {})
          }
        })

        dbRef.ref('users').orderByChild('authKey').equalTo(user.uid).on('value', snap => {
          if (snap.val()) {
            this.addNewFriend(null)
            for (let d in snap.val()) {
              let item = snap.val()[d]
              this.setUser(item)
              if (item.friends) {
                for (let it in item.friends) {
                  if (it === item.uid) {
                    continue
                  }
                  if (item.friends[it].status === 0 && item.friends[it].requestedBy !== item.uid) {
                    console.log('HERE', item)
                    dbRef.ref('users/' + item.friends[it].requestedBy).once('value', f => {
                      const obj = f.val()
                      obj.requestId = it
                      obj.requestedToId = item.friends[it].requestedTo
                      this.addNewFriend(obj)
                      this.removeContact(obj)
                    })
                  } else if (item.friends[it].status === 1 /* && item.friends[it].requestedBy !== item.uid */) {
                    let key = null
                    if (item.friends[it].requestedBy === item.uid) {
                      key = item.friends[it].requestedTo
                    } else {
                      key = item.friends[it].requestedBy
                    }
                    dbRef.ref('users/' + key).once('value', f => {
                      const obj = f.val()
                      obj.requestedToId = item.friends[it].requestedTo
                      obj.requestId = it
                      this.addNewContact(obj)
                    })
                  }
                  // this.addNewFriend(item.friends[it])
                }
              }
              // console.log(snap.val()[d])
            }
          }
        })

        dbRef.ref('status').on('value', snap => {
          const data = snap.val()
          if (data) {
            for (let d in data) {
              this.handleOnlineStatus({ contact: data[d], key: d })
            }
          }
        })
      }
    }
  }
</script>

<style scoped>

</style>